{% if page.categories %}
  <h3 class="page-taxonomies-title">{{ site.data.text[site.locale].categories | default: 'Categories' }}</h3>
  {% assign cat_string = page.categories | join: " " %}
  {% assign categories = cat_string | split: " " | sort %}
  <ul class="page-taxonomies">
    {%- for category in categories -%}
      {% if category != "" %}
      <li class="page-taxonomy">
        {%- if site.category_archive_path -%}
          <a class="p-category" href="{{ category | slugify | prepend: site.category_archive_path | relative_url }}" title="{{ site.data.text[site.locale].pages_categorized | default: 'Pages filed under' }} {{ category }}">{{ category }}</a>
        {%- else -%}
          {{ category }}
        {%- endif -%}
      </li>
      {% endif %}
    {%- endfor- %}
  </ul>
{% endif %}
