---
layout: page
---

{{ content }}

{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}

<ul class="taxonomy-index">
  {% for year in posts_by_year %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy-count">{{ year.items.size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% for year in posts_by_year %}
  <section id="{{ year.name }}" class="taxonomy-section">
    <h2 class="taxonomy-title">{{ year.name }}</h2>

    {% assign posts_by_month = year.items | group_by_exp: "post", "post.date | date: '%B'" | sort: "name" | reverse %}

    {% for month in posts_by_month %}
      <h3 class="archive-month-title">{{ month.name }}</h3>
      <ul class="archive-list">
        {% for post in month.items %}
          <li class="archive-item">
            <span class="archive-date">{{ post.date | date: "%d" }}</span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

    <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
